/* ********* */


/* @VARIABLES */


/* ********* */

// Colores
$color_fondo-Links: #FFFFFF;
$color_fondo-Logo: #F3F3FD;
$color_fondo-Terminos: #C9CEEA;
$color_Links: rgb(133, 140, 189);
$color_Links-titulo: rgb(35, 42, 109);
$color_linea: rgb(188, 190, 215);
// Tamaños
$anchoMax: 1366px;

// iconos
$redes: ( 
            facebook: "../assets/img/svg/facebook.svg",
            twitter: "../assets/img/svg/twitter.svg",
            instagram: "../assets/img/svg/instagram.svg",
            linkedin: "../assets/img/svg/linkedin.svg",
            pinterest: "../assets/img/svg/pinterest.svg",
            youtube: "../assets/img/svg/youtube.svg",
            vimeo: "../assets/img/svg/vimeo.svg"

);


